.advert {
  padding-top: 32px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 38px;
    padding-bottom: 48px;
  }

  &__heding {
    color: #111;
    font-family: Play;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 19px;

    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 40px;
      margin-bottom: 32px;
    }
  }

  &__div {
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      padding-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      padding-bottom: 32px;
    }
  }

  &__choice {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 19px;

    @media screen and (min-width: 768px) {
      display: inline-flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 40px;
    }

    @media screen and (min-width: 1200px) {
      display: inline-flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 40px;
    }
  }

  &__input {
    width: 15px;
    height: 15px;
  }

  &__label {
    color: #111;
    text-align: center;
    font-family: Play;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }

  &__button {
    justify-content: space-between;
    width: 108px;
    padding: 12px 28px;
    color: #266294;
    font-family: Play;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    border: 2px solid #266294;
  }

  &__open {
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      padding-bottom: 32px;
    }
  }

  &__title {
    width: 168px;
    color: #111;
    font-family: Play;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

    @media screen and (min-width: 768px) {
      width: 302px;
      font-size: 32px;
    }

    @media screen and (min-width: 1200px) {
      width: 302px;
      font-size: 32px;
      margin-bottom: 12px;
    }
  }

  &__btnopen {
    color: #266294;
    text-align: center;
    font-family: Play;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    display: flex;
    padding: 32px 0px 12px;
    align-items: flex-start;
    gap: 20px;
    border-bottom: 2px solid #266294;

    @media screen and (min-width: 768px) {
      font-size: 20px;
      gap: 10px;
      padding: 12px 0px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 20px;
      gap: 10px;
      padding: 12px 0px;
    }
  }

  &__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    padding-bottom: 36px;

    @media screen and (min-width: 768px) {
      padding-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
      padding-bottom: 48px;
    }
  }

  &__card:nth-child(1) {
    width: 350px;

    @media screen and (min-width: 768px) {
      width: 364px;
    }

    @media screen and (min-width: 1200px) {
      width: 413px;
    }
  }

  &__card:nth-child(2) {
    width: 350px;

    @media screen and (min-width: 768px) {
      width: 364px;
    }

    @media screen and (min-width: 1200px) {
      width: 413px;
    }
  }

  &__card:nth-child(3) {
    display: none;

    @media screen and (min-width: 768px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      display: inline;
    }
  }

  &__cardd:nth-child(1) {
    width: 350px;

    @media screen and (min-width: 768px) {
      width: 364px;
    }

    @media screen and (min-width: 1200px) {
      width: 413px;
    }
  }

  &__cardd:nth-child(2) {
    display: none;

    @media screen and (min-width: 768px) {
      display: inline;
      width: 364px;
    }

    @media screen and (min-width: 1200px) {
      width: 413px;
    }
  }

  &__cardd:nth-child(3) {
    display: none;

    @media screen and (min-width: 768px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      display: inline;
    }
  }

  &__car:nth-child(1) {
    width: 350px;

    @media screen and (min-width: 768px) {
      width: 364px;
    }

    @media screen and (min-width: 1200px) {
      width: 413px;
    }
  }

  &__car:nth-child(2) {
    width: 350px;

    @media screen and (min-width: 768px) {
      width: 364px;
    }

    @media screen and (min-width: 1200px) {
      width: 413px;
    }
  }

  &__car:nth-child(3) {
    width: 350px;

    @media screen and (min-width: 768px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      display: inline;
      width: 413px;
    }
  }

  &__cad:nth-child(1) {
    width: 350px;

    @media screen and (min-width: 768px) {
      width: 364px;
    }

    @media screen and (min-width: 1200px) {
      width: 413px;
    }
  }

  &__cad:nth-child(2) {
    width: 350px;

    @media screen and (min-width: 768px) {
      width: 364px;
    }

    @media screen and (min-width: 1200px) {
      width: 413px;
    }
  }

  &__cad:nth-child(3) {
    width: 350px;

    @media screen and (min-width: 768px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      display: inline;
      width: 413px;
    }
  }

  &__cadr:nth-child(1) {
    display: none;

    @media screen and (min-width: 768px) {
      display: inline;
      width: 364px;
    }

    @media screen and (min-width: 1200px) {
      display: inline;
      width: 413px;
    }
  }

  &__cadr:nth-child(2) {
    display: none;

    @media screen and (min-width: 768px) {
      display: inline;
      width: 364px;
    }

    @media screen and (min-width: 1200px) {
      display: inline;
      width: 413px;
    }
  }

  &__cadr:nth-child(3) {
    display: none;

    @media screen and (min-width: 768px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      display: inline;
      width: 413px;
    }
  }

  &__cards:nth-child(1) {
    display: none;

    @media screen and (min-width: 768px) {
      display: inline;
      width: 364px;
    }

    @media screen and (min-width: 1200px) {
      display: inline;
      width: 413px;
    }
  }

  &__cards:nth-child(2) {
    display: none;

    @media screen and (min-width: 768px) {
      display: inline;
      width: 364px;
    }

    @media screen and (min-width: 1200px) {
      display: inline;
      width: 413px;
    }
  }

  &__cards:nth-child(3) {
    display: none;

    @media screen and (min-width: 768px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      display: inline;
      width: 413px;
    }
  }

  &__img {
    width: 413px;
    height: 300px;
    flex-shrink: 0;
    background: lightgray 50% / cover no-repeat;
    margin-bottom: 12px;
  }

  &__subtitle {
    color: #111;
    font-family: Play;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    padding-left: 12px;
  }

  &__address {
    color: #766f6f;
    font-family: Play;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 8px;
    margin-top: 8px;
    padding-right: 12px;
    padding-left: 12px;
  }

  &__point {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-left: 12px;
  }

  &__star {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    stroke-width: 1px;
    fill: #266294;
  }

  &__rating {
    color: #266294;
    font-family: Play;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }

  &__titles {
    width: 259px;
    flex-shrink: 0;
    color: #111;
    font-family: Play;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
      width: 346px;
      font-size: 32px;
    }

    @media screen and (min-width: 1200px) {
      width: 346px;
      font-size: 32px;
    }
  }

  &__lists {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px) {
      padding-bottom: 32px;
    }
  }

  &__download {
    display: none;
    width: 305px;
    padding: 14px;
    color: #766f6f;
    text-align: center;
    font-family: Play;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    border: 2px solid #b0a2a2;

    @media screen and (min-width: 768px){
      display: inline;
    }

    @media screen and (min-width: 1200px) {
      display: inline;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 18px;
    justify-content: space-between;
  }

  &__number {
    text-align: center;
    display: block;
    width: 10px;
    height: 16px;
    color: #266294;
    text-align: center;
    font-family: Play;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

    @media screen and (min-width: 768px) {
      width: 14px;
      height: 24px;
      font-size: 24px;
    }

    @media screen and (min-width: 1200px) {
      width: 14px;
      height: 24px;
      font-size: 24px;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;

    @media screen and (min-width: 768px) {
      width: 32px;
      height: 32px;
    }

    @media screen and (min-width: 1200px) {
      width: 32px;
      height: 32px;
    }
  }

  &__lisst {
    display: flex;
    align-items: center;
    gap: 26px;
  }
}
