.footer {
    background-color: #CFE7F5;
    padding-top: 24px;
    padding-bottom: 49px;

    @media screen and (min-width: 768px){
        padding-top: 24px;
        padding-bottom: 32px;
    }
    @media screen and (min-width: 1200px){
        padding-top: 34px;
        padding-bottom: 28px;
    }

    &__photo {
        width: 40px;
        height: 40px;

        @media screen and (min-width: 1200px){
            width: 60px;
            height: 60px;
        }
    }
    
    &__logo {
        color: var(--link-color, #266294);
        text-align: center;
        font-size: 15px;
        line-height: 100%;
        margin-right: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        order: 1;
        margin-left: 72px;
        align-self: self-start;

        @media screen and (min-width: 768px){
            order: 0;
            margin-left: 0;
        }

        @media screen and (min-width: 1200px){
            font-size: 18px;
        }
    }
    
    &__social {
        width: 20px;
        height: 20px;
        flex-shrink: 0;

        @media screen and (min-width: 1200px){
            width: 24px;
            height: 24px;
        }
    }
    
    &__socials {
        gap: 11px;
        display: flex;
        margin-top: -30px;
        justify-content: right;

        @media screen and (min-width: 768px){
            margin-top: -10px;
        }

        @media screen and (min-width: 1200px){
            gap: 28px;
            margin-top: -25px;
        }
    }
    
    &__list {
        display: flex;
        gap: 10px;
        flex-direction: column;
        // padding-bottom: 32px;

        @media screen and (min-width: 768px){
            gap: 20px;
            flex-direction: row;
        }

        @media screen and (min-width: 1200px){
            gap: 64px;
        }
    
    }
    
    &__link {
        color: var(--link-color, #266294);
        text-align: center;
        font-size: 18px;
        line-height: 130%;

        
        @media screen and (min-width: 1200px){
            font-size: 16px;
        }

        
        @media screen and (min-width: 1200px){
            font-size: 20px;
        }
    
    }
    
    &__box {
        display: flex;

        // @media screen and (min-width: 768px){
            
        // }
    }
    
    &__text {
        color: var(--Web_service_color-Hero_blue, #266294);
        font-family: Play;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        margin-top: 32px;
        /* 20.8px */

        @media screen and (min-width: 1200px){
            font-weight: 700;
        }
    }
}

