<section class="cabinet">
    <div class="container">
        <div class="cabinet__moves">
        <a href="../index.html" class="cabinet__moving">Головна</a>
        <svg class="cabinet__arrow">
            <use href="./images/symbol-defs.svg#icon-chevron-right"></use>
          </svg>
          <a href="../cabinet.html" class="cabinet__moving">Особистий кабінет</a>
    </div>
    <h1 class="cabinet__title">Особистий кабінет</h1>
    <p class="cabinet__information">Оновіть свою інформацію та дізнайтеся, як вона використовується.</p>
    <div>
        <ul class="cabinet__list">
        <li class="cabinet__item"><a href="" class="cabinet__link">Особисті дані</a></li>
        <li class="cabinet__item"><a href="" class="cabinet__link">Мої оголошення</a></li>
        <li class="cabinet__item"><a href="" class="cabinet__link">Обране</a></li>
        <li class="cabinet__item"><a href="" class="cabinet__link">Платіжні дані</a></li>
        <li class="cabinet__item"><a href="" class="cabinet__link">Безпека</a></li>
        </ul>
    </div>
    <form action="">
        <ul>
        <li>
            <p>Ваше ім’я</p>
            <label><input type="text"></label>
        </li>
        <li>
            <p>Ваше прізвище</p>
            <label><input type="text"></label>
        </li>
        <li>
            <p>email</p>
            <label><input type="email"></label>
        </li>
        <li>
            <p>Номер телефону</p>
            <label><input type="tel"></label>
        </li>
        <li>
            <p>Дата народження</p>
            <label><input type="date"></label>
        </li>
        <li>
            <p>Стать</p>
            <label><input type="text"></label>
        </li>
        <li>
            <p>Ваша країна</p>
            <label><input type="text"></label>
        </li>
    </ul>
<button>Змінити</button>
</form>
    </div>
</section>